# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
compile_commands.json.tmpee18f
CTestTestfile.cmake
_deps
output/main.exe
CPackConfig.cmake
CPackSourceConfig.cmake
./build/*
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-c6d5c470e99cb3fdbc38.json
build/.cmake/api/v1/reply/codemodel-v2-63bcfcf19872f3a62982.json
build/.cmake/api/v1/reply/directory-.-DEBUG-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-src-DEBUG-c94b7c2814d5a21df52c.json
build/.cmake/api/v1/reply/index-2021-11-01T01-55-24-0618.json
build/.cmake/api/v1/reply/target-MyFEM-DEBUG-b07ef92cd7e1004d7baa.json
build/.cmake/api/v1/reply/toolchains-v1-c8aeb068f93ece6c57b7.json
